body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents {
  background-color: #93a1a1;
}
#favs {
  background-color: #93a1a1;
}
#facts {
  background-color: #93a1a1;
}
#types {
  background-color: #93a1a1;
}
